body {
    background-color: rgb(255, 195, 174)
}


.imagem-de-fundo{
    margin-left: 100px;
    margin-right: 100px;
}

.caixas-textos{
    padding: 70px;
    margin-left: 100px;
    margin-right: 100px;
}

.título-home{
    font-family: impact;
    font-size: 50px;
    color: rgb(217, 83, 79);
    text-align: center;
}