body {
    background-color: rgb(255, 195, 174)
}


.título-página{
    font-family: impact;
    font-size: 50px;
    color: rgb(217, 83, 79);
    padding-left: 650px;
    align-items: center;
}

.caixas-textos{
    padding: 30px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

img{
    padding: 50px;
}

style{
    text-align: right
}