<<<<<<< HEAD
body {
    background-color: rgb(255, 195, 174)
}


.título-página{
    font-family: impact;
    font-size: 50px;
    color: rgb(217, 83, 79);
    padding-left: 120px;
}

.caixas-textos{
    padding: 70px;
    margin-left: 100px;
    margin-right: 100px;
}

img{
    padding: 50px;
}
=======
   #alinhamento{
       ALIGN = "center"
   }
>>>>>>> 745725d4b48bca9ac4387add0611f768eab6708f
